﻿@model IEnumerable<GeekStream.Domain.Entities.Article>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        div.rounded1 {
            border-radius: 25px;
            padding: 25px;
            background-color: #fff;
        }
        div.left {
            width: 70%;
            display: inline-block;
        }
        div.right {
            width: 20%;
            display: inline-block;
        }
    </style>
</head>

<h1>All Articles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div class="rounded1">
                    <h2 style="color:#383838">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h2>
                    <h5 style="color:#828282">
                        @Html.DisplayFor(modelItem => item.Content)
                    </h5>
                    <br>
                    <h5 style="color:#828282">
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </h5>
                    <div class="left">
                        <h5 style="color:#828282; font-style:italic">
                            Tags: @Html.DisplayFor(modelItem => item.Tags)
                        </h5>
                    </div>
                    <div class="right">
                        <h5 style="color:#828282">
                            Rating: @Html.DisplayFor(modelItem => item.Rating)
                        </h5>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
