﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeekStream</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid body-content">
                <a class="navbar-brand" asp-area="" asp-controller="Articles" asp-action="Index">
                    <img src="/images/logo.png" alt="Logo" style="width:40px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Create">Create article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-main">
        <div id="st-box">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.                        </li>
                <li>Mauris pulvinar orci sed lacinia placerat.                                      </li>
                <li>Morbi in ipsum quis lacus pretium blandit vel in ligula.                        </li>
                <li>Donec et justo ultricies lorem blandit facilisis scelerisque quis massa.        </li>
                <li>Proin sed risus faucibus, mattis risus quis, convallis sem.                     </li>
                <li>Suspendisse in augue et dui ornare interdum a a enim.                           </li>
                <li>Morbi mollis enim id nunc tempor facilisis.                                     </li>
                <li>Donec ut eros accumsan ex ornare condimentum.                                   </li>
                <li>Duis viverra dolor nec risus aliquet sagittis.                                  </li>
                <li>In egestas diam nec pellentesque pretium.                                       </li>
                <li>Integer non dolor sed lorem tempus hendrerit non ac massa.                      </li>
                <li>Sed tempor sapien vel tempor dictum.                                            </li>
                <li>Mauris blandit justo at efficitur finibus.                                      </li>
                <li>Mauris sed erat varius nisl condimentum gravida et a quam.                      </li>
                <li>Sed fermentum magna a felis luctus, sit amet tristique mi consequat.            </li>
                <li>Fusce eget arcu in mi tristique ornare in ac ex.                                </li>
                <li>Morbi aliquet lacus sit amet ligula porta, euismod dictum orci lobortis.        </li>
                <li>Proin eu urna consectetur, cursus nibh at, euismod leo.                         </li>
                <li>Sed id nisi in urna varius iaculis at id ante.                                  </li>
            </ul>
        </div>
        <div id="nd-box">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <div id="rd-box">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.                        </li>
                <li>Mauris pulvinar orci sed lacinia placerat.                                      </li>
                <li>Morbi in ipsum quis lacus pretium blandit vel in ligula.                        </li>
                <li>Donec et justo ultricies lorem blandit facilisis scelerisque quis massa.        </li>
                <li>Proin sed risus faucibus, mattis risus quis, convallis sem.                     </li>
                <li>Suspendisse in augue et dui ornare interdum a a enim.                           </li>
                <li>Morbi mollis enim id nunc tempor facilisis.                                     </li>
                <li>Donec ut eros accumsan ex ornare condimentum.                                   </li>
                <li>Duis viverra dolor nec risus aliquet sagittis.                                  </li>
                <li>In egestas diam nec pellentesque pretium.                                       </li>
                <li>Integer non dolor sed lorem tempus hendrerit non ac massa.                      </li>
                <li>Sed tempor sapien vel tempor dictum.                                            </li>
                <li>Mauris blandit justo at efficitur finibus.                                      </li>
                <li>Mauris sed erat varius nisl condimentum gravida et a quam.                      </li>
                <li>Sed fermentum magna a felis luctus, sit amet tristique mi consequat.            </li>
                <li>Fusce eget arcu in mi tristique ornare in ac ex.                                </li>
                <li>Morbi aliquet lacus sit amet ligula porta, euismod dictum orci lobortis.        </li>
                <li>Proin eu urna consectetur, cursus nibh at, euismod leo.                         </li>
                <li>Sed id nisi in urna varius iaculis at id ante.                                  </li>
            </ul>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid body-content">
            &copy; 2021 - GeekStream - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
